<body class="body">
  <div class="head">{{title}}へのお申し込みありがとうございます</div>
  <div class="main">
    <p>外国人人材バンクに新規申し込みがありました。</p>
    <p></p>
      この度は外国人人材バンクにお申し込み頂きましてありがとうございます。下記内容に沿ってお手続きを進めさせていただきますのでどうぞよろしくお願い致します。
    </p>
    <div>
      <div>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</div>
      アカウント発行までの流れ
      <div>＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝</div>
      <p>◉お申し込み内容のご確認</p>
        <div>↓</div>
      <p>
        ◉登録情報の審査（※）
      </p>        
        <div>↓</div> 
      <p>◉アカウント情報の登録</p> 
        <div>↓</div>
      <p>◉アカウントの発行</p>
      <p>
        ※審査に通らなかった場合はその旨をご案内いたします。但し、理由についてはお答えしかねる場合がありますのであらかじめご了承くださいませ。
      </p>
    </div>
  </div>
  <div class="footer">© 2021 {{title}}. All rights reserved.</div>
</body>

<style>
  .body {
    background-color: #f5f5f5;
    padding: 0 120px 0 120px;
  }
  .btn {
    background-color: #e9333f;
    color: white;
    padding: 25px 55px;
    border-radius: 5px;
    border: 0;
    margin: 10px 0 10px;
  }
  .main {
    background-color: white;
    padding: 30px;
    font-size: 14px;
    border: 1px solid #eee;
  }
  .head {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  .footer {
    background-color: #f5f5f5;
    padding: 30px;
    text-align: center;
    color: #b0adc5;
  }
</style>
